<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
        <script src="invoice.js"></script>
    </head>
    <body ng-app="invoice1">
        <div ng-controller="InvoiceController">
            <b>Invoice: </b>
            <div>
            	Quantity: <input type="number" min="0" ng-model="qty">
            </div>
            <div>
            	Cost: <input type="number" min="0" ng-model="cost">
                <select ng-model="inCurr">
                    <option ng-repeat="c in currencies">{{c}}</option>
                </select>
            </div>
            <div>
            	<b>Total: </b>
                <span ng-repeat="c in currencies">
                    {{total(c)}}
                </span>
                <button class="btn" ng-click="pay()">Pay</button>
            </div>
        </div>
    </body>
</html>
