<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
		<script src="module.js"></script>
	</head>
	<body ng-app="myApp">
		<div ng-controller="simpleController">
			<strong>First name:</strong>{{person.first}}<br/>
			<strong>Second name:</strong><span ng-bind="person.second"></span><br/>
			<strong>Full name:</strong>{{person.getFullName()}}<br/>
			<label>Set the first name: <input type="text" ng-model="person.first"/></label><br/>
			<label>Set the second name: <input type="text" ng-model="person.second"/></label><br/>
		</div>
	</body>
</html>
